<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="view/style/global.css">    
    <link rel="shortcut icon" href="view/style/fav.ico">
    <script src="view/js/jquery-1.9.1.min.js"></script>
    <script src="http://timeago.yarp.com/jquery.timeago.js"></script>
    <script src="view/js/main.js"></script>
    <link href="view/style/toastr.css" rel="stylesheet" />
	<script src="view/js/toastr.js"></script>
    
    
    <title>Tachyon | Simple & fast</title>
</head>

<!-- Allt som skall synas på hemsidan skall vara mellan body -->
<body>