		<div id="main" class="text">
			<h2>This message is <strong>pointless</strong>...</h2>
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper pretium velit ut placerat. Nullam tempus ut leo ut suscipit. Donec vitae varius neque. Suspendisse molestie, nunc in viverra interdum, risus sapien placerat libero, a tempor mauris nulla eget tortor. Donec est erat, consectetur vitae malesuada nec, fermentum sit amet orci. Nullam iaculis lorem a aliquam porttitor. Nullam pretium pulvinar magna sed luctus. Aenean in magna a ipsum vulputate pretium quis sit amet erat.
			<p>
			<center><img src="view/style/images/facebook.png" width="250"></center>
			<center><img src="view/style/images/mobileos.png" width="400"></center>
		</div>