
	<div id="header">
		<div id="headerContainer">
		<div class="nav">
			<a alt="Home" title="Home" href="?controller=home"><img src="view/style/images/home_icon.png"/></a>
		</div>
		<input type="text" class="simple-form" id="search" name="search" placeholder="Search..." />
		<div id="searchResult">
			<center><div class="arrow-up"></div></center>
			<div class="searchcontent">
				<ul class="userSearch">
					<li>
						<div class="userimage"><img class="profilePic img" width ="50px" alt="" src="uploads/photo.gif"></div>
						<div class="rusername">Rafel Saad</div>
					</li>
					<li>
						<div class="userimage"><img class="profilePic img" width ="50px" alt="" src="uploads/photo.gif"></div>
						<div class="rusername">Rafel Saad</div>
					</li>
					<li>
						<div class="userimage"><img class="profilePic img" width ="50px" alt="" src="uploads/photo.gif"></div>
						<div class="rusername">Rafel Saad</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="nav right">
			<a alt="Profil" title="Profil" href="?controller=user"><img src="view/style/images/profile_icon.png"/></a>
			<a alt="Settings" class="setMenu" title="Settings"><img src="view/style/images/setting_icon.png"/></a>
			<div id="settingMenu">
			<div class="arrow-up"></div>
			<ul class="submenu">
				<a href="#" class="dummy"><li>Settings</li></a>
				<a href="?controller=user&action=logout"><li>Sign out</li></a>
			</ul>
			</div>
		</div>
		</div>
	</div>
	<div id="content">
