		<div id="main">
			<h2>This message is <strong>pointless</strong>...</h2>
			<div id="postContent">
				<form id="postForm" method="post" action="?controller=post">
					<textarea type="text" value="" id="thepost" class="simple-form" placeholder="What's on your mind?" name="thepost"></textarea>
					<div id="submitPost">
						<input class="button right" value="Share" type="submit" name="submit">
					</div>
				</form>
			</div>
			<ul class="posts">
				<li>
					<div class="postcontainer">
						<div class="userimage">
							<img class="profilePic img" alt="---$name---" src="uploads/photo.jpg">
						</div>
						<div class="postinfo">
							<div class="postheader">
								<span class="postauthor">Rafel Saad</span>
								<span class="postuser"><a href="#">@rafel</a></span>
								<span class="postdate">Feb 28</span>
							</div>
							<div class="postcontent">
								<a href="/BasRuttenMMA" class="twitter-atreply pretty-link" dir="ltr"><s>@</s><b>BasRuttenMMA</b></a> will you join us in the <a href="/search?q=%23fight&amp;src=hash" data-query-source="hashtag_click" class="twitter-hashtag pretty-link js-nav" dir="ltr"><s>#</s><b>fight</b></a> to end human trafficking? Rock a ❌ on ur hand, post a pick &amp; join the movement! <a href="/search?q=%23EndItMovement&amp;src=hash" data-query-source="hashtag_click" class="twitter-hashtag pretty-link js-nav" dir="ltr"><s>#</s><b>EndItMovement</b></a>
							</div>
							<div class="postfooter">
								<a href="#">
									View comments
								</a>
							</div>
						</div>
					</div>
				</li>

				<li>
					<div class="postcontainer">
						<div class="userimage">
							<img class="profilePic img" alt="---$name---" src="uploads/photo.jpg">
						</div>
						<div class="postinfo">
							<div class="postheader">
								<span class="postauthor">Rafel Saad</span>
								<span class="postuser"><a href="#">@rafel</a></span>
								<span class="postdate">Feb 28</span>
							</div>
							<div class="postcontent">
								<a href="/BasRuttenMMA" class="twitter-atreply pretty-link" dir="ltr"><s>@</s><b>BasRuttenMMA</b></a> will you join us in the <a href="/search?q=%23fight&amp;src=hash" data-query-source="hashtag_click" class="twitter-hashtag pretty-link js-nav" dir="ltr"><s>#</s><b>fight</b></a> to end human trafficking? Rock a ❌ on ur hand, post a pick &amp; join the movement! <a href="/search?q=%23EndItMovement&amp;src=hash" data-query-source="hashtag_click" class="twitter-hashtag pretty-link js-nav" dir="ltr"><s>#</s><b>EndItMovement</b></a>
							</div>
							<div class="postfooter">
								<a href="#">
									View comments
								</a>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="postcontainer">
						<div class="userimage">
							<img class="profilePic img" alt="---$name---" src="uploads/photo.jpg">
						</div>
						<div class="postinfo">
							<div class="postheader">
								<span class="postauthor">Rafel Saad</span>
								<span class="postuser"><a href="#">@rafel</a></span>
								<span class="postdate">Feb 28</span>
							</div>
							<div class="postcontent">
								<a href="/BasRuttenMMA" class="twitter-atreply pretty-link" dir="ltr"><s>@</s><b>BasRuttenMMA</b></a> will you join us in the <a href="/search?q=%23fight&amp;src=hash" data-query-source="hashtag_click" class="twitter-hashtag pretty-link js-nav" dir="ltr"><s>#</s><b>fight</b></a> to end human trafficking? Rock a ❌ on ur hand, post a pick &amp; join the movement! <a href="/search?q=%23EndItMovement&amp;src=hash" data-query-source="hashtag_click" class="twitter-hashtag pretty-link js-nav" dir="ltr"><s>#</s><b>EndItMovement</b></a>
							</div>
							<div class="postfooter">
								<a href="#">
									View comments
								</a>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="postcontainer">
						<div class="userimage">
							<img class="profilePic img" alt="---$name---" src="uploads/photo.jpg">
						</div>
						<div class="postinfo">
							<div class="postheader">
								<span class="postauthor">Rafel Saad</span>
								<span class="postuser"><a href="#">@rafel</a></span>
								<span class="postdate">Feb 28</span>
							</div>
							<div class="postcontent">
								<a href="/BasRuttenMMA" class="twitter-atreply pretty-link" dir="ltr"><s>@</s><b>BasRuttenMMA</b></a> will you join us in the <a href="/search?q=%23fight&amp;src=hash" data-query-source="hashtag_click" class="twitter-hashtag pretty-link js-nav" dir="ltr"><s>#</s><b>fight</b></a> to end human trafficking? Rock a ❌ on ur hand, post a pick &amp; join the movement! <a href="/search?q=%23EndItMovement&amp;src=hash" data-query-source="hashtag_click" class="twitter-hashtag pretty-link js-nav" dir="ltr"><s>#</s><b>EndItMovement</b></a>
							</div>
							<div class="postfooter">
								<a href="#">
									View comments
								</a>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="postcontainer">
						<div class="userimage">
							<img class="profilePic img" alt="---$name---" src="uploads/photo.jpg">
						</div>
						<div class="postinfo">
							<div class="postheader">
								<span class="postauthor">Rafel Saad</span>
								<span class="postuser"><a href="#">@rafel</a></span>
								<span class="postdate">Feb 28</span>
							</div>
							<div class="postcontent">
								<a href="/BasRuttenMMA" class="twitter-atreply pretty-link" dir="ltr"><s>@</s><b>BasRuttenMMA</b></a> will you join us in the <a href="/search?q=%23fight&amp;src=hash" data-query-source="hashtag_click" class="twitter-hashtag pretty-link js-nav" dir="ltr"><s>#</s><b>fight</b></a> to end human trafficking? Rock a ❌ on ur hand, post a pick &amp; join the movement! <a href="/search?q=%23EndItMovement&amp;src=hash" data-query-source="hashtag_click" class="twitter-hashtag pretty-link js-nav" dir="ltr"><s>#</s><b>EndItMovement</b></a>
							</div>
							<div class="postfooter">
								<a href="#">
									View comments
								</a>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="postcontainer">
						<div class="userimage">
							<img class="profilePic img" alt="---$name---" src="uploads/photo.jpg">
						</div>
						<div class="postinfo">
							<div class="postheader">
								<span class="postauthor">Rafel Saad</span>
								<span class="postuser"><a href="#">@rafel</a></span>
								<span class="postdate">Feb 28</span>
							</div>
							<div class="postcontent">
								<a href="/BasRuttenMMA" class="twitter-atreply pretty-link" dir="ltr"><s>@</s><b>BasRuttenMMA</b></a> will you join us in the <a href="/search?q=%23fight&amp;src=hash" data-query-source="hashtag_click" class="twitter-hashtag pretty-link js-nav" dir="ltr"><s>#</s><b>fight</b></a> to end human trafficking? Rock a ❌ on ur hand, post a pick &amp; join the movement! <a href="/search?q=%23EndItMovement&amp;src=hash" data-query-source="hashtag_click" class="twitter-hashtag pretty-link js-nav" dir="ltr"><s>#</s><b>EndItMovement</b></a>
							</div>
							<div class="postfooter">
								<a href="#">
									View comments
								</a>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="postcontainer">
						<div class="userimage">
							<img class="profilePic img" alt="---$name---" src="uploads/photo.jpg">
						</div>
						<div class="postinfo">
							<div class="postheader">
								<span class="postauthor">Rafel Saad</span>
								<span class="postuser"><a href="#">@rafel</a></span>
								<span class="postdate">Feb 28</span>
							</div>
							<div class="postcontent">
								<a href="/BasRuttenMMA" class="twitter-atreply pretty-link" dir="ltr"><s>@</s><b>BasRuttenMMA</b></a> will you join us in the <a href="/search?q=%23fight&amp;src=hash" data-query-source="hashtag_click" class="twitter-hashtag pretty-link js-nav" dir="ltr"><s>#</s><b>fight</b></a> to end human trafficking? Rock a ❌ on ur hand, post a pick &amp; join the movement! <a href="/search?q=%23EndItMovement&amp;src=hash" data-query-source="hashtag_click" class="twitter-hashtag pretty-link js-nav" dir="ltr"><s>#</s><b>EndItMovement</b></a>
							</div>
							<div class="postfooter">
								<a href="#">
									View comments
								</a>
							</div>
						</div>
					</div>
				</li>

			</ul>
		</div>