	
		<div id="sidebar" class="offline">
			<div id="loginFormContainer" class="sidebar-content">
				<h2>Greetings mortal, <strong>Sign in</strong></h2>
				<form id="loginForm" method="post" action="?controller=user">
					<input type="text" name="username" class="simple-form username" autocomplete="on" placeholder="Username">
					<input type="password" name="password" class="simple-form password" placeholder="Password">
					<input type="submit" name="submit" value="Sign in" class="button greenButton">
				</form>
			</div>
			<div id="registerFormContainer" class="sidebar-content">
				<h2><strong>New to Tachyon?</strong> Sign up</h2>
				<form id="registerForm" method="post">
					<input type="email" name="email" id="email" class="simple-form username" autocomplete="on" placeholder="Email" >
					<input type="text" name="username" id="username" class="simple-form username" autocomplete="on" placeholder="Username">
					<input type="password" name="password" class="simple-form password" placeholder="Password">
					<input type="submit" name="submit" value="Sign up" class="button">
				</form>
			</div>
		</div>